/* @theme beamer */

/* https://github.com/rnd195/my-marp-themes */

@import "default";
@import url("https://unpkg.com/tailwindcss@^2/dist/utilities.min.css");

/* @font-face {
  font-family: Meiryo;
  src: local('Meiryo'), local('メイリオ');
} */

:root {
  font-family: "CMU Sans Serif", "Segoe UI", "Meiryo", Helvetica, sans-serif;
  --beamer-main: #1f38c5;
  --beamer-secondary: #1a1a59;
  /* font: italic 1rem Meiryo, sans-serif; */
  /* --beamer-secondary: #141414; */
}

/* VSCodeでマウスカーソルをレーザーポインター化 */
section:not([data-marp-vscode-content-start-line]) {
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgdmlld0JveD0iMCAwIDY0IDY0Ij4KICA8ZGVmcz4KICAgIDxyYWRpYWxHcmFkaWVudCBpZD0iZyIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNTAlIj4KICAgICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNDA0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICAgIDxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjZmY0MDQwIiBzdG9wLW9wYWNpdHk9IjAuODUiLz4KICAgICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZjQwNDAiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjQwNDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPC9yYWRpYWxHcmFkaWVudD4KICAgIDxmaWx0ZXIgaWQ9ImJsdXIiIHg9Ii01MCUiIHk9Ii01MCUiIHdpZHRoPSIyMDAlIiBoZWlnaHQ9IjIwMCUiPgogICAgICA8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIyLjIiLz4KICAgIDwvZmlsdGVyPgogIDwvZGVmcz4KCiAgPCEtLSBzb2Z0IGdsb3cgLS0+CiAgPGNpcmNsZSBjeD0iMzIiIGN5PSIzMiIgcj0iMjIiIGZpbGw9InVybCgjZykiIGZpbHRlcj0idXJsKCNibHVyKSIvPgoKICA8IS0tIG91dGVyIHJpbmcgLS0+CiAgPGNpcmNsZSBjeD0iMzIiIGN5PSIzMiIgcj0iMTAuNSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmY0MDQwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1vcGFjaXR5PSIwLjU1Ii8+CgogIDwhLS0gY29yZSAtLT4KICA8Y2lyY2xlIGN4PSIzMiIgY3k9IjMyIiByPSI0LjIiIGZpbGw9IiNmZjQwNDAiLz4KICA8Y2lyY2xlIGN4PSIzMiIgY3k9IjMyIiByPSIyLjIiIGZpbGw9IiNmZmZmZmYiIGZpbGwtb3BhY2l0eT0iMC45Ii8+Cjwvc3ZnPgo=") 32 32, pointer;
}

section {
  background-color: #ffffff;
  /* bottom two-coloured bar in base64 svg */
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjUwbW0iIGhlaWdodD0iNS4zNTQ2bW0iIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI1MCA1LjM1NDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3R5bGU9ImJhY2tncm91bmQtY29sb3I6IzFmMzhjNSIgPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjAuMzQ3IC05MS4wMjgpIj4KPHJlY3QgeD0iMjAuMzQ3IiB5PSI5MS4wMjgiIHdpZHRoPSIxMjUiIGhlaWdodD0iNS4zNTQ2IiBmaWxsPSIjMWExYTU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS13aWR0aD0iMCIvPgo8cGF0aCBkPSJtMTQ1LjM1IDkzLjcwNXYtMi42NzczaDEyNXY1LjM1NDZoLTEyNXoiIGZpbGw9IiMxZjM4YzUiIHN0cm9rZS13aWR0aD0iMCIvPgo8L2c+Cjwvc3ZnPgo=");
  /* url('assets/images/mybar.svg'); */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 150% 1em;
  padding: 2em;
}

header {
  font-size: 0.6em;
  /* this text-align is important */
  text-align: right;
  /* I don't like this absolute positioning, but it works */
  position: absolute;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -51%;
  color: white;
}

footer {
  font-size: 0.6em;
  position: absolute;
  /* this text-align is important */
  text-align: left;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: 50.8%;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141414;
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  color: red;
  font-weight: bold;
}

/* only apply to the first occurrence of h2 */
h2:nth-of-type(1) {
  font-family: "CMU Bright", "Segoe UI Semibold";
  color: #ffffff;
  background-color: var(--beamer-main);
  /* border-top: 0.3em solid var(--beamer-main); */
  /* padding: 0; */
  padding: 0.5em;
  position: absolute;
  top: 0;
  /* right: 0; */
  left: 0;
  width: 100%;
  /* height: 1.5em; */
  /* text-indent: 0.5em; */
}

h3:nth-of-type(1) {
  font-family: "CMU Bright", "Segoe UI Semibold";
  color: #ffffff;
  background-color: var(--beamer-secondary);
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h3:nth-of-type(1)::before {
  content: attr(hoge);
}

code {
  background-color: rgba(100, 100, 100, 0.2);
  font-family: "Courier New", "Consolas" !important;
}

/* formatting page numbers  */
section::after {
  font-size: 0.6em;
  /* https://github.com/yhatt/marp/issues/263 */
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  position: absolute;
  text-align: right;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -0.5em;
  color: white;
}

div {
  height: fit-content;
}

/* begin classes implementation */

div.parallel,
div.columns {
  display: flex;
  gap: 0.5em;
}

div.parallel > *,
div.columns > * {
  flex: 1;
}

div.columns > div {
  margin: 0 auto;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  --color: black;
  color: var(--color);
  border-radius: 0.5em;
  border: solid var(--color);
  font-size: 1em;
  font-weight: normal;
  height: auto;
  text-align: left;
  /* align-items:center; */
  /* justify-content:center; */
}

div.columns > div > h4 {
  text-align: center;
  margin: 0;
}

div.columns > div > :not(h4):nth-of-type(1) {
  margin-top: auto;
}

div.columns > div > :not(h4):nth-last-of-type(1) {
  margin-bottom: auto;
}

div.row {
  display: flex;
  flex-direction: column;
  --img-size: 3em;
}

div.row > div {
  display: flex;
  gap: 0.5em;
  --color: black;
  border: solid var(--color);
  padding: 0.1em;
  margin: 0.1em;
  border-radius: 0.5em;
}

div.row > div > img:nth-of-type(1) {
  height: var(--img-size);
  aspect-ratio: 1;
  margin: auto 0;
}

div.row > div > div {
  /* margin: 0; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.row > div > div > h4 {
  margin: 0;
}

div.row > div > div > :not(h4):nth-of-type(1) {
  margin-top: auto;
}

div.row > div > div > :not(h4):nth-last-of-type(1) {
  margin-bottom: auto;
}

div.flex,
div.colimg {
  display: flex;
  align-items: center;
}

div.colimg > :last-child {
  margin-left: auto;
}

table.columns {
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}
table.columns th,
table.columns td,
table.columns tr {
  border: none;
  background-color: transparent !important;
  /* padding: 3px; */
}
table.columns tbody > tr:nth-of-type(2) > td {
  vertical-align: top;
}
table.columns td {
  border-right: 2px solid #333;
}
/* 最後のセルの右線は消す */
table.columns td:last-child,
th:last-child {
  border-right: none;
}

.colorbox {
  margin: 0 auto;
  font-weight: bold;
  --color: blue;
  color: var(--color);
  font-size: 1.4em;
  border: solid var(--color);
  padding: 0.25em;
  border-radius: 0.5em;
  text-align: center;
}

.colorbox p {
  margin: 0;
}

div.arraybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

div.arraybox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* stack: 同じ大きさの図を重ね合わせる (アニメーションを想定) */
.stack{
  display: grid;
}
/* 全部同じセルに配置 */
.stack > *{
  grid-area: 1 / 1;
}

li.arrow {
  list-style-type: "➡";
}

li.arrow p {
  margin: 0;
}

li.custom::marker {
  content: var(--str);
}

span.arrow::after {
  content: "➡ ";
}

span.noemj::after {
  content: var(--str);
}

span.tip {
  border: solid black;
  padding: 0 0.2em;
  border-radius: 0.5em;
}

/* fade-in animation */
.fadein[data-bespoke-marp-fragment], .fadein-sync[fadein-id] {
  --fadein-sec: 1s;
  transition: opacity var(--fadein-sec) ease, transform var(--fadein-sec) ease;
  will-change: opacity, transform;
}
/* inactive */
.fadein[data-bespoke-marp-fragment="inactive"],
section:has([data-bespoke-marp-fragment]) .fadein-sync[fadein-id] {
  opacity: 0;
  transform: translateY(6px);
}
/* active */
/* fadein-idはページ内独立で大丈夫 */
/* .fadein-sync[fadein-id]は離れた2箇所のfade-inを同期することを想定 */
.fadein[data-bespoke-marp-fragment="active"],
section:has([fadein-id="1"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="1"],
section:has([fadein-id="2"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="2"],
section:has([fadein-id="3"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="3"],
section:has([fadein-id="4"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="4"],
section:has([fadein-id="5"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="5"],
section:has([fadein-id="6"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="6"],
section:has([fadein-id="7"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="7"],
section:has([fadein-id="8"][data-bespoke-marp-fragment="active"]) .fadein-sync[fadein-id="8"] {
  opacity: 1;
  transform: translateY(0);
}


/* end classes implementation */

li li {
  font-size: 0.91em;
}

li li li li {
  font-size: 1em;
}

ol > li {
  list-style-type: decimal;
}

ol ol > li {
  list-style-type: lower-roman;
}

ol ol ol > li {
  list-style-type: lower-alpha;
}

img.text {
  width: 1.5em;
  vertical-align: middle;
}

table {
  margin: 0 auto;
}

.round {
  margin: 0 auto;
  font-weight: bold;
  color: blue;
  font-size: 2.5rem;
  border: solid blue;
  padding: 0.25em;
  border-radius: 0.5em;
}

/* inline math was too large wrt text */
.katex {
  font: normal 1.05em KaTeX_Main, "Times New Roman", serif;
}

/* the "center" keyword centers the image - may break, careful */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: title */
/* title page - only to be used as for a single slide */
/* <!-- _class: title --> */
section.title > h1 {
  font-family: "CMU Bright", "Segoe UI Semibold";
  /* color: #ffffff; */
  /* background-color: var(--beamer-main); */
  /* border-radius: 25px; */
  font-size: 65pt;
  text-align: center;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 0.2em;
  height: auto;
}

/* remake this to be positioned with respect to h1 */
section.title > p {
  position: relative;
  text-align: center;
  top: 35px;
}

/* || SECTION CLASS: section */
/* section page - only to be used as for a single slide */
/* <!-- _class: section --> */
section.section > h2 {
  font-family: "CMU Bright", "Segoe UI Semibold";
  background-color: var(--beamer-main);
  border-radius: 25px;
  position: relative;
  margin: auto 0;
  box-sizing: border-box;
  min-width: calc(100% / 2);
  width: fit-content;
}

/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext > p,
section.tinytext > ul,
section.tinytext > blockquote {
  font-size: 0.65em;
}
