/* @theme beamer */

/* https://github.com/rnd195/my-marp-themes */

@import "default";
@import url("https://unpkg.com/tailwindcss@^2/dist/utilities.min.css");

/* @font-face {
  font-family: Meiryo;
  src: local('Meiryo'), local('メイリオ');
} */

:root {
  font-family: "CMU Sans Serif", "Segoe UI", "Meiryo", Helvetica, sans-serif;
  --beamer-main: #1f38c5;
  --beamer-secondary: #1a1a59;
  /* font: italic 1rem Meiryo, sans-serif; */
  /* --beamer-secondary: #141414; */
}

section {
  background-color: #ffffff;
  /* bottom two-coloured bar in base64 svg */
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjUwbW0iIGhlaWdodD0iNS4zNTQ2bW0iIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI1MCA1LjM1NDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3R5bGU9ImJhY2tncm91bmQtY29sb3I6IzFmMzhjNSIgPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjAuMzQ3IC05MS4wMjgpIj4KPHJlY3QgeD0iMjAuMzQ3IiB5PSI5MS4wMjgiIHdpZHRoPSIxMjUiIGhlaWdodD0iNS4zNTQ2IiBmaWxsPSIjMWExYTU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS13aWR0aD0iMCIvPgo8cGF0aCBkPSJtMTQ1LjM1IDkzLjcwNXYtMi42NzczaDEyNXY1LjM1NDZoLTEyNXoiIGZpbGw9IiMxZjM4YzUiIHN0cm9rZS13aWR0aD0iMCIvPgo8L2c+Cjwvc3ZnPgo=");
  /* url('assets/images/mybar.svg'); */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 150% 1em;
  padding: 2em;
}

header {
  font-size: 0.6em;
  /* this text-align is important */
  text-align: right;
  /* I don't like this absolute positioning, but it works */
  position: absolute;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -51%;
  color: white;
}

footer {
  font-size: 0.6em;
  position: absolute;
  /* this text-align is important */
  text-align: left;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: 50.8%;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141414;
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  color: red;
}

/* only apply to the first occurrence of h2 */
h2:nth-of-type(1) {
  font-family: "CMU Bright", "Segoe UI Semibold";
  color: #ffffff;
  background-color: var(--beamer-main);
  /* border-top: 0.3em solid var(--beamer-main); */
  /* padding: 0; */
  padding: 0.5em;
  position: absolute;
  top: 0;
  /* right: 0; */
  left: 0;
  width: 100%;
  /* height: 1.5em; */
  /* text-indent: 0.5em; */
}

h3:nth-of-type(1) {
  font-family: "CMU Bright", "Segoe UI Semibold";
  color: #ffffff;
  background-color: var(--beamer-secondary);
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h3:nth-of-type(1)::before {
  content: attr(hoge);
}

code {
  background-color: rgba(100, 100, 100, 0.2);
  font-family: "Courier New", "Consolas" !important;
}

/* formatting page numbers  */
section::after {
  font-size: 0.6em;
  /* https://github.com/yhatt/marp/issues/263 */
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  position: absolute;
  text-align: right;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -0.5em;
  color: white;
}

div {
  height: fit-content;
}

/* begin classes implementation */

div.parallel,
div.columns {
  display: flex;
  gap: 0.5em;
}

div.parallel > *,
div.columns > * {
  flex: 1;
}

div.columns > div {
  margin: 0 auto;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  --color: black;
  color: var(--color);
  border-radius: 0.5em;
  border: solid var(--color);
  font-size: 1em;
  font-weight: normal;
  height: auto;
  text-align: left;
  /* align-items:center; */
  /* justify-content:center; */
}

div.columns > div > h4 {
  text-align: center;
  margin: 0;
}

div.columns > div > :not(h4):nth-of-type(1) {
  margin-top: auto;
}

div.columns > div > :not(h4):nth-last-of-type(1) {
  margin-bottom: auto;
}

div.row {
  display: flex;
  flex-direction: column;
  --img-size: 3em;
}

div.row > div {
  display: flex;
  gap: 0.5em;
  --color: black;
  border: solid var(--color);
  padding: 0.1em;
  margin: 0.1em;
  border-radius: 0.5em;
}

div.row > div > img:nth-of-type(1) {
  height: var(--img-size);
  aspect-ratio: 1;
  margin: auto 0;
}

div.row > div > div {
  /* margin: 0; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.row > div > div > h4 {
  margin: 0;
}

div.row > div > div > :not(h4):nth-of-type(1) {
  margin-top: auto;
}

div.row > div > div > :not(h4):nth-last-of-type(1) {
  margin-bottom: auto;
}

div.flex,
div.colimg {
  display: flex;
  align-items: center;
}

div.colimg > :last-child {
  margin-left: auto;
}

table.columns {
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}
table.columns th,
table.columns td,
table.columns tr {
  border: none;
  background-color: transparent !important;
  /* padding: 3px; */
}
table.columns tbody > tr:nth-of-type(2) > td {
  vertical-align: top;
}
table.columns td {
  border-right: 2px solid #333;
}
/* 最後のセルの右線は消す */
table.columns td:last-child,
th:last-child {
  border-right: none;
}

.colorbox {
  margin: 0 auto;
  font-weight: bold;
  --color: blue;
  color: var(--color);
  font-size: 1.4em;
  border: solid var(--color);
  padding: 0.25em;
  border-radius: 0.5em;
  text-align: center;
}

.colorbox p {
  margin: 0;
}

div.arraybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

div.arraybox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

li.arrow {
  list-style-type: "➡";
}

li.arrow p {
  margin: 0;
}

li.custom::marker {
  content: var(--str);
}

span.arrow::after {
  content: "➡ ";
}

span.noemj::after {
  content: var(--str);
}

span.tip {
  border: solid black;
  padding: 0.15em;
  border-radius: 0.5em;
}

/* end classes implementation */

li li {
  font-size: 0.91em;
}

li li li li {
  font-size: 1em;
}

ol > li {
  list-style-type: decimal;
}

ol ol > li {
  list-style-type: lower-roman;
}

ol ol ol > li {
  list-style-type: lower-alpha;
}

img.text {
  width: 1.5em;
  vertical-align: middle;
}

table {
  margin: 0 auto;
}

.round {
  margin: 0 auto;
  font-weight: bold;
  color: blue;
  font-size: 2.5rem;
  border: solid blue;
  padding: 0.25em;
  border-radius: 0.5em;
}

/* inline math was too large wrt text */
.katex {
  font: normal 1.05em KaTeX_Main, "Times New Roman", serif;
}

/* the "center" keyword centers the image - may break, careful */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: title */
/* title page - only to be used as for a single slide */
/* <!-- _class: title --> */
section.title > h1 {
  font-family: "CMU Bright", "Segoe UI Semibold";
  /* color: #ffffff; */
  /* background-color: var(--beamer-main); */
  /* border-radius: 25px; */
  font-size: 65pt;
  text-align: center;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 0.2em;
  height: auto;
}

/* remake this to be positioned with respect to h1 */
section.title > p {
  position: relative;
  text-align: center;
  top: 35px;
}

/* || SECTION CLASS: section */
/* section page - only to be used as for a single slide */
/* <!-- _class: section --> */
section.section > h2 {
  font-family: "CMU Bright", "Segoe UI Semibold";
  background-color: var(--beamer-main);
  border-radius: 25px;
  position: relative;
  margin: auto 0;
  box-sizing: border-box;
  min-width: calc(100% / 2);
  width: fit-content;
}

/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext > p,
section.tinytext > ul,
section.tinytext > blockquote {
  font-size: 0.65em;
}
